<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <center> 
        <h1>This is Ifelse Conditional statements</h1>
        {% if A > B %}
            <h1>A = {{A}} is Max</h1>
        {% else %}
            <h1>B = {{B}} is Max</h1>
        {% endif %}
    
    </center> -->

    <!-- <center> 
        <h1>This is elif condition</h1>
        {% if A > B %}
            <h1>A = {{A}} is Max</h1>
        {% elif B > C %}
            <h1>B = {{B}} is Max</h1>
        {% else %}
            <h1>C = {{C}} is Max</h1>
        {% endif %}
     </center> -->
      
       <center> <h1>This is Nested Conditions </h1>
        {% if A > B %}
            {% if A > C %}
            <h1> A = {{A}} is Max  of If condition</h1>
            {% else %}
            <h1> C = {{C}} is Max of If condition</h1>
            {% endif %}
        {% else %}
            {% if B > C %}
            <h1>B = {{B}} is Max of else condition</h1>
            {% else %}
            <h1>C = {{C}} is Max of else condition</h1>
            {% endif %}
        {% endif %}</center>

</body>
</html>